* {
	font-size: 14px;
}

.navbar {
	margin-bottom: 0;
}

.navigation {
	margin-bottom: 40px;
}

.task_5 {
	height: 62px;
}


.title {
	height: 50px;
}

.hypercube {
    position: relative;
    min-height: 430px;
}

.cube .vertex {
	font-size: 16px;
	font-weight: bold;
}

.control {
	position: relative;
	height: 500px;
}

.task {    
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center; 
}


.description, .answer {
	text-align: center;
	height: 150px;
	border: 5px solid beige;
	border-radius: 10px;
}