* {
	font-size: 14px;
}

.hypercube {
    position: relative;
    margin-top: 50px;
    min-height: 430px;
    border: solid 10px #0f0;
}

.cube .vertex {
	font-size: 20px;
	font-weight: bold;
}

.control {
	position: relative;
	height: 500px;
	border: solid 10px #f00;
}