.cube .average_rib {
	width: 200px;
	height: 20px;

	border-top: 20px solid orange;
	border-bottom: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
}

.cube .av_rib1 {
	width: 130px;
	-webkit-transform: translate3d(-15px,30px,-60px) rotate3d(1,0,0,225deg) rotate3d(0,0,1,125deg);
	-moz-transform: translate3d(-15px,30px,-60px) rotate3d(1,0,0,225deg) rotate3d(0,0,1,125deg);
	-o-transform: translate3d(-15px,30px,-60px) rotate3d(1,0,0,225deg) rotate3d(0,0,1,125deg);
	-ms-transform: translate3d(-15px,30px,-60px) rotate3d(1,0,0,225deg) rotate3d(0,0,1,125deg);
	transform: translate3d(-15px,30px,-60px) rotate3d(1,0,0,225deg) rotate3d(0,0,1,125deg);
}

.cube .av_rib2 {
	width: 130px;
	-webkit-transform: translate3d(-15px,29.9px,-60px) rotate3d(1,0,0,225deg) rotate3d(0,0,1,125deg);
	-moz-transform: translate3d(-15px,29.9px,-60px) rotate3d(1,0,0,225deg) rotate3d(0,0,1,125deg);
	-o-transform: translate3d(-15px,29.9px,-60px) rotate3d(1,0,0,225deg) rotate3d(0,0,1,125deg);
	-ms-transform: translate3d(-15px,29.9px,-60px) rotate3d(1,0,0,225deg) rotate3d(0,0,1,125deg);
	transform: translate3d(-15px,29.9px,-60px) rotate3d(1,0,0,225deg) rotate3d(0,0,1,125deg);
}

.cube .av_rib3 {
	width: 130px;
	-webkit-transform: translate3d(85px,29.9px,60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,305deg);
	-moz-transform: translate3d(85px,29.9px,60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,305deg);
	-o-transform: translate3d(85px,29.9px,60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,305deg);
	-ms-transform: translate3d(85px,29.9px,60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,305deg);
	transform: translate3d(85px,29.9px,60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,305deg);
}

.cube .av_rib4 {
	width: 130px;
	-webkit-transform: translate3d(85px,30px,60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,305deg);
	-moz-transform: translate3d(85px,30px,60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,305deg);
	-o-transform: translate3d(85px,30px,60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,305deg);
	-ms-transform: translate3d(85px,30px,60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,305deg);
	transform: translate3d(85px,30px,60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,305deg);	
}

.cube .av_rib5 {
	width: 130px;
	-webkit-transform: translate3d(85px,30px,-60px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,305deg);
	-moz-transform: translate3d(85px,30px,-60px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,305deg);
	-o-transform: translate3d(85px,30px,-60px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,305deg);
	-ms-transform: translate3d(85px,30px,-60px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,305deg);
	transform: translate3d(85px,30px,-60px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,305deg);
}

.cube .av_rib6 {
	width: 130px;
	-webkit-transform: translate3d(85px,30.1px,-60px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,305deg);
	-moz-transform: translate3d(85px,30.1px,-60px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,305deg);
	-o-transform: translate3d(85px,30.1px,-60px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,305deg);
	-ms-transform: translate3d(85px,30.1px,-60px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,305deg);
	transform: translate3d(85px,30.1px,-60px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,305deg);
}

.cube .av_rib7 {
	width: 130px;
	-webkit-transform: translate3d(-15px,30px,60px) rotate3d(1,0,0,135deg) rotate3d(0,0,1,125deg);
	-moz-transform: translate3d(-15px,30px,60px) rotate3d(1,0,0,135deg) rotate3d(0,0,1,125deg);
	-o-transform: translate3d(-15px,30px,60px) rotate3d(1,0,0,135deg) rotate3d(0,0,1,125deg);
	-ms-transform: translate3d(-15px,30px,60px) rotate3d(1,0,0,135deg) rotate3d(0,0,1,125deg);
	transform: translate3d(-15px,30px,60px) rotate3d(1,0,0,135deg) rotate3d(0,0,1,125deg);
}

.cube .av_rib8 {
	width: 130px;
	-webkit-transform: translate3d(-15px,30.1px,60px) rotate3d(1,0,0,135deg) rotate3d(0,0,1,125deg);
	-moz-transform: translate3d(-15px,30.1px,60px) rotate3d(1,0,0,135deg) rotate3d(0,0,1,125deg);
	-o-transform: translate3d(-15px,30.1px,60px) rotate3d(1,0,0,135deg) rotate3d(0,0,1,125deg);
	-ms-transform: translate3d(-15px,30.1px,60px) rotate3d(1,0,0,135deg) rotate3d(0,0,1,125deg);
	transform: translate3d(-15px,30.1px,60px) rotate3d(1,0,0,135deg) rotate3d(0,0,1,125deg);
}
.cube .av_rib9 {
	width: 130px;
	-webkit-transform: translate3d(85px,149.9px,60px) rotate3d(1,0,0,225deg) rotate3d(0,0,1,305deg);
	-moz-transform: translate3d(85px,149.9px,60px) rotate3d(1,0,0,225deg) rotate3d(0,0,1,305deg);
	-o-transform: translate3d(85px,149.9px,60px) rotate3d(1,0,0,225deg) rotate3d(0,0,1,305deg);
	-ms-transform: translate3d(84px,149.9px,60px) rotate3d(1,0,0,225deg) rotate3d(0,0,1,305deg);
	transform: translate3d(85px,149.9px,60px) rotate3d(1,0,0,225deg) rotate3d(0,0,1,305deg);
}

.cube .av_rib10 {
	width: 130px;
	-webkit-transform: translate3d(85px,150px,60px) rotate3d(1,0,0,225deg) rotate3d(0,0,1,305deg);
	-moz-transform: translate3d(85px,150px,60px) rotate3d(1,0,0,225deg) rotate3d(0,0,1,305deg);
	-o-transform: translate3d(85px,150px,60px) rotate3d(1,0,0,225deg) rotate3d(0,0,1,305deg);
	-ms-transform: translate3d(84px,150px,60px) rotate3d(1,0,0,225deg) rotate3d(0,0,1,305deg);
	transform: translate3d(85px,150px,60px) rotate3d(1,0,0,225deg) rotate3d(0,0,1,305deg);
}

.cube .av_rib11 {
	width: 130px;
	-webkit-transform: translate3d(-15px,150px,60px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,125deg);
	-moz-transform: translate3d(-15px,150px,60px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,125deg);
	-o-transform: translate3d(-15px,150px,60px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,125deg);
	-ms-transform: translate3d(-15px,150px,60px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,125deg);
	transform: translate3d(-15px,150px,60px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,125deg);
}

.cube .av_rib12 {
	width: 130px;
	-webkit-transform: translate3d(-15px,150.1px,60px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,125deg);
	-moz-transform: translate3d(-15px,150.1px,60px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,125deg);
	-o-transform: translate3d(-15px,150.1px,60px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,125deg);
	-ms-transform: translate3d(-15px,150.1px,60px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,125deg);
	transform: translate3d(-15px,150.1px,60px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,125deg);
}

.cube .av_rib13 {
	width: 130px;
	-webkit-transform: translate3d(-15px,150px,-60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,125deg);
	-moz-transform: translate3d(-15px,150px,-60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,125deg);
	-o-transform: translate3d(-15px,150px,-60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,125deg);
	-ms-transform: translate3d(-15px,150px,-60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,125deg);
	transform: translate3d(-15px,150px,-60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,125deg);
}

.cube .av_rib14 {
	width: 130px;
	-webkit-transform: translate3d(-15px,149.9px,-60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,125deg);
	-moz-transform: translate3d(-15px,149.9px,-60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,125deg);
	-o-transform: translate3d(-15px,149.9px,-60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,125deg);
	-ms-transform: translate3d(-15px,149.9px,-60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,125deg);
	transform: translate3d(-15px,149.9px,-60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,125deg);
}

.cube .av_rib15 {
	width: 130px;
	-webkit-transform: translate3d(85px,150px,-60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,-125deg);
	-moz-transform: translate3d(85px,150px,-60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,-125deg);
	-o-transform: translate3d(85px,150px,-60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,-125deg);
	-ms-transform: translate3d(85px,150px,-60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,-125deg);
	transform: translate3d(85px,150px,-60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,-125deg);
}

.cube .av_rib16 {
	width: 130px;
	-webkit-transform: translate3d(85px,149.9px,-60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,-125deg);
	-moz-transform: translate3d(85px,149.9px,-60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,-125deg);
	-o-transform: translate3d(85px,149.9px,-60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,-125deg);
	-ms-transform: translate3d(85px,149.9px,-60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,-125deg);
	transform: translate3d(85px,149.9px,-60px) rotate3d(1,0,0,-45deg) rotate3d(0,0,1,-125deg);
}
