.cube .coordinate_axis {
	width: 200px;
	height: 10px;
	background: #666;
}

.cube .ox {
	background: #55f;
	-webkit-transform: translate3d(-100px, 95px, 100.1px) rotate3d(0,0,1,90deg) rotate3d(1,0,0,135deg);
	-moz-transform: translate3d(-100px, 95px, 100.1px) rotate3d(0,0,1,90deg) rotate3d(1,0,0,135deg);
	-o-transform: translate3d(-100px, 95px, 100.1px) rotate3d(0,0,1,90deg) rotate3d(1,0,0,135deg);
	-ms-transform: translate3d(-100px, 95px, 100.1px) rotate3d(0,0,1,90deg) rotate3d(1,0,0,135deg);
	transform: translate3d(-100px, 95px, 100.1px) rotate3d(0,0,1,90deg) rotate3d(1,0,0,135deg);
}

.cube .oy {
	background: #f55;
	-webkit-transform: translate3d(-100px, -5px, 0) rotate3d(0,1,0,90deg) rotate3d(1,0,0,135deg);
	-moz-transform: translate3d(-100px, -5px, 0) rotate3d(0,1,0,90deg) rotate3d(1,0,0,135deg);
	-o-transform: translate3d(-100px, -5px, 0) rotate3d(0,1,0,90deg) rotate3d(1,0,0,135deg);
	-ms-transform: translate3d(-100px, -5px, 0) rotate3d(0,1,0,90deg) rotate3d(1,0,0,135deg);
	transform: translate3d(-100px, -5px, 0) rotate3d(0,1,0,90deg) rotate3d(1,0,0,135deg);
}

.cube .oz {
	background: #5f5;
	-webkit-transform: translate3d(0, -5.1px, 100px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,180deg);
	-moz-transform: translate3d(0, -5.1px, 100px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,180deg);
	-o-transform: translate3d(0, -5.1px, 100px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,180deg);
	-ms-transform: translate3d(0, -5.1px, 100px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,180deg);
	transform: translate3d(0, -5.1px, 100px) rotate3d(1,0,0,45deg) rotate3d(0,0,1,180deg);
}

.cube .ot {
	background: #909;
	width: 125px;
	-webkit-transform: translate3d(-25px,30px,60px) rotate3d(1,0,0,135deg) rotate3d(0,0,1,125deg);
	-moz-transform: translate3d(-25px,30px,60px) rotate3d(1,0,0,135deg) rotate3d(0,0,1,125deg);
	-o-transform: translate3d(-25px,30px,60px) rotate3d(1,0,0,135deg) rotate3d(0,0,1,125deg);
	-ms-transform: translate3d(-25px,30px,60px) rotate3d(1,0,0,135deg) rotate3d(0,0,1,125deg);
	transform: translate3d(-25px,30px,60px) rotate3d(1,0,0,135deg) rotate3d(0,0,1,125deg);
}