* {
	font-size: 14px;
}

.navbar {
	margin-bottom: 0;
}

.navigation {
	margin-bottom: 40px;
}

.task_5 {
	height: 62px;
}


.title {
	height: 50px;
}

.hypercube {
    position: relative;
    min-height: 430px;
}

.cube {
	transition: all 0.5s ease;
}

.cube .vertex {
	font-size: 16px;
	font-weight: bold;
}

.control {
	position: relative;
}

.task, .buttons, .coords {    
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center; 
}

.dropdown {
	margin-right: 5px;
	margin-left: -5px;
}

.description, .answer, #clarification {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	text-align: center;
	min-width: 450px;
	border-radius: 10px;
}

.description, .answer {
	height: 200px;
}

#clarification {
	border-radius: 0;
	border-bottom: 1px solid grey;
}

.send {
	border-radius: 5px;
	width: 150px;
}

.btn-group>.btn:last-child:not(:first-child) {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.coords > div {
	margin-left: 5px;
	font-size: 50px;
	width: 100px;
	display: inline-block;
}

#coordX {
	color: #0000aa;
	border-bottom: 1px solid #0000aa;
}

#coordY {
	color: #aa0000;
	border-bottom: 1px solid #aa0000;
}

#coordZ {
	color: #00aa00;
	border-bottom: 1px solid #00aa00;
}